{% load i18n %}

<div class="title">Contact</div>
<div class="form">
    <% if(logged){ %>
    <p>% trans "Contact me!" %}
    <span>% trans "Subject" %}</span>
    <input type="text" class="subject" />
    </p>
    <p>
    <span>% trans "Message" %}</span>
    <textarea class="text"/>
    </p>
    <p>
    <div class="submit">% trans "Send" %}</div>
    </p>
    <% }else{%>
    <p>
    % trans "You're not registered yet. Please " %}<a href="/#register">% trans "register" %}</a>.
    </p>
    <% } %>
</div>