{% load i18n %}

<% if(logged){ %>
<div class="logout">
<span class="link" data-src="logout">Logout</span>
</div>
<% }else{ %>
<div class="login form-inline">
    <div class="login-form">
        <input type="text" class="user input-mini" placeholder="{% trans "Username" %}"  />
        <input type="password" class="key input-mini" placeholder="{% trans "Password" %}"  />
        <button class="btn submit">{% trans "Sign in" %}</button>
        <span class="link" data-src="register">{% trans "register" %}</span>
    </div>
</div>
<% } %>
