{% load i18n %}

<!-- <div class="blockleft"> -->
<div class="message hero-unit">
<h2>{% trans "Profiles sought: " %}</h2>
<ul class="inline">
<li>{% trans "Mathematician," %}</li>
<li>{% trans "Engineer," %}</li>
<li>{% trans "Secretary," %}</li>
<li>{% trans "Builder," %}</li>
<li>{% trans "IT," %}</li>
<li>{% trans "Logistics," %}</li>
<li>{% trans "Designer or cartographer," %}</li>
<li>{% trans "Psychologist or psychiatrist," %}</li>
<li>{% trans "Geologist," %}</li>
<li>{% trans "Anthropologist," %}</li>
<li>{% trans "Mathematician," %}</li>
<li>{% trans "Someone who can translate our conversations into other languages, English as a priority." %}</li>
</ul>
</div>
<!-- </div> -->
<% console.log(data); %>
<!-- <div class="blockright"> -->
<div class="form hero-unit">

<legend>{% trans "Update your profile" %}</legend>
    
    
    <label>{% trans "Mr/Mrs/Ms" %}</label>
    <input type="text" name="title" value="<%- data.title %>" />
    
    
    <label>{% trans "Surname" %}</label>
    <input type="text" name="last_name" value="<%- data.last_name %>" />
    
    
    
    <label>{% trans "First name" %}</label>
    <input type="text" name="first_name"  value="<%- data.first_name %>" />
    
    
    <label>{% trans "Age" %}</label>
    <input type="text" name="age"  value="<%- data.age %>" />
    
    
    <label>{% trans "Skills" %}</label>
    <input type="text" name="skills"  value="<%- data.skills %>" />
    
    
    <label>{% trans "Interests" %}</label>
    <input type="text" name="interests"  value="<%- data.interests %>" />
    
    
    <label>{% trans "Town/city" %}</label>
    <input type="text" name="city"  value="<%- data.city %>" />
    
    
    <label>{% trans "Country" %}</label>
    <input type="text" name="country"  value="<%- data.country %>" />
    
    
    <label>{% trans "Languages spoken" %}</label>
    <input type="text" name="languages"  value="<%- data.languages %>" />
    
    <p>
    <div class="btn btn-primary submit">{% trans "Update" %}</div>
    </p>
    
<!--    <label>{% trans "Thank you to update your profile!" %}</label>
    <label>{% trans "Give me some time to gather and map this information and I’ll get back to you. We’ll let you know when the next newsletter is coming out by email. Bernard Loizeau" %}</label>-->

</div>
<!-- </div> -->