{% load i18n %}


<div class="form hero-unit">

<legend>{% trans "Update your profile" %}</legend>
    
    
    <label>{% trans "Mr/Mrs/Ms" %}</label>
    <input class="" type="text" name="title" value="<%- data.title %>" />
    
    <!-- 
    <label class="checkbox inline">
    <input type="checkbox" id="inlineCheckbox1" value="option1"> Mr
    </label>
    <label class="checkbox inline">
    <input type="checkbox" id="inlineCheckbox2" value="option2"> Mrs
    </label>
    <label class="checkbox inline">
    <input type="checkbox" id="inlineCheckbox3" value="option3"> Ms
    </label> 
    -->
    
    <label>{% trans "Surname" %}</label>
    <input class="" type="text" name="last_name" value="<%- data.last_name %>" />
    
    
    
    <label>{% trans "First name" %}</label>
    <input class="" type="text" name="first_name"  value="<%- data.first_name %>" />
    
    
    <label>{% trans "Age" %}</label>
    <input class="" type="text" name="age"  value="<%- data.age %>" />
    
    
    <label>{% trans "Skills" %}</label>
    <input class="" type="text" name="skills"  value="<%- data.skills %>" />
    
    
    <label>{% trans "Interests" %}</label>
    <input class="" type="text" name="interests"  value="<%- data.interests %>" />
    
    
    <label>{% trans "Town/city" %}</label>
    <input class="" type="text" name="city"  value="<%- data.city %>" />
    
    
    <label>{% trans "Country" %}</label>
    <input class="" type="text" name="country"  value="<%- data.country %>" />
    
    
    <label>{% trans "Languages spoken" %}</label>
    <input class="" type="text" name="languages"  value="<%- data.languages %>" />
    
    <p class="pull-right clearfix">
    <button class="btn cancel">{% trans "Cancel" %}</button>
    <button class="btn btn-primary submit">{% trans "Update" %}</button>
    </p>
    
<!--    <label>{% trans "Thank you to update your profile!" %}</label>
    <label>{% trans "Give me some time to gather and map this information and I’ll get back to you. We’ll let you know when the next newsletter is coming out by email. Bernard Loizeau" %}</label>-->

</div>
<!-- </div> -->