<div class="player"></div>

<div class="controls">

<span class="jp-play control">Play</span>
<span class="jp-pause control">Pause</span>
<span class="jp-stop control">Stop</span>



<span class="jp-mute control">Mute</span>
<span class="jp-unmute control">Unmute</span>
<span class="jp-volume-bar control">|&lt;----------&gt;|</span>
<span class="jp-volume-max control">Max</span>

<div class="navigation">
    <span class="jp-current-time"></span>
    <span class="jp-duration"></span>

    <div class="jp-seek-bar">
        <div class="jp-play-bar" />
    </div>
</div>

</div>
