<!DOCTYPE html>
<html>

<head>
<title>{% block title %}After the walls (UTOPIA/DYSTOPIA){% endblock %}</title>


<script src="{{ STATIC_URL }}js/lib/jquery.js"></script>
<script src="{{ STATIC_URL }}js/lib/underscore-min.js"></script>
<script src="{{ STATIC_URL }}js/lib/backbone.js"></script>
<script src="{{ STATIC_URL }}js/lib/template.js"></script>
<script src="{{ STATIC_URL }}js/lib/jquery.backstretch.js"></script>
<script src="{{ STATIC_URL }}js/lib/jquery.jplayer.js"></script>

<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}style/reset.less" />
<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}style/style.less" />
<script src="{{ STATIC_URL }}js/lib/less.js"></script>


<script>
window.ATW = {
    Config:{
        API_URL: '/u/api/',
        user_name: {% if user %}'{{user}}'{% else %}undefined{% endif %},
        api_key: {% if key %}'{{key}}'{% else %}undefined{% endif %},
        csrf_token : '{{ csrf_token }}',
    },
};
</script>

<script src="{{ STATIC_URL }}js/backbone_generic.js"></script>
<script src="{{ STATIC_URL }}js/views.js"></script>
<script src="{{ STATIC_URL }}js/router.js"></script>
<script src="{{ STATIC_URL }}js/app.js"></script>
<script src="{{ STATIC_URL }}js/index.js"></script>



</head>
<body>
</body>
<script>
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    crossDomain: false, // obviates need for sameOrigin test
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", ATW.Config.csrf_token);
        }
    }
});
</script>
</html>