/*
 * 
 * style.less
 * 
 */

body{
    background-color:black;
}

*{
  font-family: 'Gentium Basic', serif;
}

@bg_dark_tr:rgba(0,0,0,.1);
@bg_light_tr:rgba(255,255,255,.5);

.widget{
    position:absolute;
    z-index:100;
    padding:3px;
    color:white;
    font-weight:bold;
}

@color_link:#666;
@color_link_hover:#1f4c7a;
span.link{
    color:@color_link;
    font-weight:bold;
    cursor:pointer;
    &:hover{
        color:@color_link_hover;
        border-bottom:1px solid;
    }
}

.top-widget(@radius: 8px){
/*    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;*/
border-bottom-left-radius: @radius;
border-bottom-right-radius: @radius;
background-color:black;
}

.roundedbox(@radius: 3px){
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.log-widget{
    .widget;
    .top-widget;
    top:0;
    right:40px;
    .logout{
        cursor:pointer;
    }
    .login{
        .title{
            cursor:pointer;
        }
    }
}

.contact-widget{
    .widget;
    top:120px;
    right:20px;
    .title{
        cursor:pointer;
    }
    .form{
        .submit{
            cursor:pointer;
        }
    }
}

.visit-widget{
    .widget;
    top:80px;
    right:20px;
    cursor:pointer;
    display:none;
}

#episodes{
    .widget;
    top:20px;
    left:20px;
}

#video-player{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:90;
    background-color:black;
    .controls{
        position:absolute;
        bottom:10px;
        left:30%;
        right:30%;
        text-align:center;
        height:22px;
        background-color:rgba(0,0,0,.5);
        border:1px solid black;
        padding:6px;
        
        span.control{
            font-family:sans-serif;
            font-weight:bold;
            font-size:10px;
            color:white;
        }
        
        div.navigation{
            position:relative;
            bottom:3px;
            
            div.jp-seek-bar{
                height:4px;
                border:1px solid black;
                div.jp-play-bar{
                    height:4px;
                    background-color:blue;
                }
            }
        }
    }
    .player{
        margin:auto;
        width:600px;
    }
}

#audio-player{
    .roundedbox;
    position:absolute;
    z-index:100;
    bottom:12px;
    right:12px;
    padding: 5px;
    background-color: rgb(158, 158, 158);
    border: 1px solid rgb(227, 227, 235);
    
    &:hover{
        background-color: rgb(255, 255, 255);
    }
    .control{
        margin:2px;
        .roundedbox(2px);
        border:1px solid transparent;
        &:hover{
            border:1px solid rgb(158, 158, 158);
        }
    }
}

.hero-unit{
    position:relative;
    margin:auto;
    width:60%;
    max-width:740px;
    line-height: 120%;
    padding: 25px;
}

.html-proxy{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    .html-widget{
        .hero-unit;
	width:24%;
        top:200px;
	font-size: 16px;
        color:white;
        background-color:@bg_dark_tr;
	text-shadow: 0 0 5px rgba(0,0,0,1), 0 0 8px rgba(0,0,0,1), 0 0 15px rgba(0,0,0,1);
    }
}

.register-widget{
    .hero-unit;
    top:250px;
    color:white;
    background-color:@bg_dark_tr;
    padding:20px;
    vertical-align:text-bottom;
    .blockleft{
        float:left;
        width:55%;
        padding:0px;
/*         border-right:1px solid white; */
    }
    
    h3 {line-height: 22px;}
    
    .blockright{
        float:right;
        width:37%;
        padding:0px;
        text-align:center;
    }
    
    .visit {
        margin-top:0px;
	  .link {color:#999999;}
	  .link:hover {color:white;}
    }
    
    .message{
        font-size:80%;
    }
    .form{
        padding-top:0px;
        .block{
            padding:12px 0;
        }
    }
}

.userprofile{
    position:absolute;
    top:0;right:0;bottom:0;left:0;
    background-color:white;
    overflow:auto;
    .message{
        margin:10px auto;
        width:50%;
        padding:20px;
    }
    .form{
        margin:20px auto;
        width:50%;
        padding:20px;
    }
    .blockleft{
        float:left;
        width:45%;
        padding:10px;
        
    }
    
    .blockright{
        float:right;
        width:45%;
        padding:10px;
    }
    
}

#galery{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.login-form .log-widget{
  input[type="text"] input[type="password"] {
    height: 11px;
    font-size: 10px;
    }
  btn-link{
    color: white;
    a:hover span:hover{color: white;}
  }
}

input {
    height: 11px;
    font-size: 10px;
    }

#audio-player{
border-radius: 15px;
background-color: transparent;
border: 0px solid #e3e3eb;
}

.log-widget{
  background: transparent;
}

#events{
    .roundedbox;
    .widget;
    top:32px;
    left:32px;
    width:212px;
    background-color:white;
    color:#666;
    .event{
        .location{
            
        }
        .date{
            .start{
                
            }
            .end{
                
            }
        }
        .extra{
            display:none;
            .name{
                
            }
            .body{
                
            }
        }
    }
}